// HEADER::START
header.header
  .container
    .row
      .col-sm-12
        .header__flex
          .header__hamb
            button.hamburger.hamburger--collapse(type='button')
              span.hamburger-box
                span.hamburger-inner

          a(href='#').header__logo
            i.ico.ico-logo
          .header__nav
            a(href='#') Страхование туристов
            a(href="#") зеленая карта
            a(href="#") Страхование мигрантов
          .header__phone
            a(href="tel:").header__phone__num
              i.ico.ico-phone
              span 8 495 506 51 55
            a(href="#").btn.btn--green.btn--rounded Купить полис
    .row
      .col-sm-12
        .header__dropMenu
          a(href='#') Страхование туристов
          a(href='#') Зеленая карта
          a(href='#') Страхование мигрантов
          a(href='#') Список документов <span>Для подачи в визовый центр</span>
