// HEADER::START
header.header
  .container
    .row
      .col-sm-12
        .header__flex
          .header__hamb
            button.hamburger.hamburger--collapse(type='button')
              span.hamburger-box
                span.hamburger-inner

          a(href='mainpage.html').header__logo
            i.ico.ico-logo
          .header__nav
            a(href='insurance.html') Страхование туристов
            a(href="green.html") зеленая карта
            a(href="migrants.html") Страхование мигрантов
          .header__phone
            a(href="tel:").header__phone__num
              i.ico.ico-phone
              span 8 495 506 51 55
            a(href="#modalServiceSelect").btn.btn--green.btn--rounded.modal__trigger Купить полис
    .row
      .col-sm-12
        .header__dropMenu
          a(href='insurance.html') Страхование туристов
          a(href='green.html') Зеленая карта
          a(href='migrants.html') Страхование мигрантов
          a(href='docs.html') Список документов <span>Для подачи в визовый центр</span>
