// buttons
button:focus
  outline: none

.btn
  text-align: center
  transition: all .4s ease-in-out
  &:focus, &:active
    outline: none
  &--green
    background: $colorGreen
    color: white
    &:hover
      color: white

  &--rounded
    border-radius: 30px
