doctype html
html
  include shared/head.pug

  body
    .content
      include shared/header.pug

      // HERO::START
      section.hero.hero--inner.hero--with-ico(style='background-image: url(images/heroGreen.png)')
        .container

          .row
            .col-sm-12.col-md-11.text-xs-center.text-md-right
              i.ico.ico-best-price

          .row
            .col-sm-12.text-xs-center
              .heading.rel
                span Зеленая карта
                .line Все страны Европы
                  // .hero__tooltip
                    i.ico.ico-tooltip-big(data-toggle="tooltip" data-placement="bottom" title="Скидка на заключение договора страхования предоставляется за счет комиссии страхового агентства. Предоставленная скидка  не влияет на качество и количество оказываемых услуг по страховому полису. Полис мгновенно заносится в базу страховой компании")

      // Green
      section.green
        .container
          .row
            form#greenForm.col-sm-12
              .heading.heading--small.text-xs-center Выберите количество дней вашей поездки на автомобиле
              .green__range
                input#greenRange(type='range' min="1" max='13' step="1" value='2')
                .green__range__tips
                  span(data-value='1') 15 <br> <span>дней</span><span class='m'>д.</span>
                  span(data-value='2') 1 <br> <span>месяц</span><span class='m'>м.</span>
                  span(data-value='3') 2 <br> <span>месяца</span><span class='m'>м.</span>
                  span(data-value='4') 3 <br> <span>месяца</span><span class='m'>м.</span>
                  span(data-value='5') 4 <br> <span>месяцев</span><span class='m'>м.</span>
                  span(data-value='6') 5 <br> <span>месяцев</span><span class='m'>м.</span>
                  span(data-value='7') 6 <br> <span>месяцев</span><span class='m'>м.</span>
                  span(data-value='8') 7 <br> <span>месяцев</span><span class='m'>м.</span>
                  span(data-value='9') 8 <br> <span>месяцев</span><span class='m'>м.</span>
                  span(data-value='10') 9 <br> <span>месяцев</span><span class='m'>м.</span>
                  span(data-value='11') 10 <br> <span>месяцев</span><span class='m'>м.</span>
                  span(data-value='12') 11 <br> <span>месяцев</span><span class='m'>м.</span>
                  span(data-value='13') 12 <br> <span>месяцев</span><span class='m'>м.</span>

      section.greenTotal
        .container
          .row
            .col-sm-12.text-sm-center
              span Стоимость:
              a(href='#modalInsurance').btn.btn--green.btn--rounded.btn--price.modal__trigger <span>4280</span> руб
              img(src='images/broker-alpha.png')

      section.docsRequired
        .container
          .row
            .col-sm-12
              .heading.heading--small.text-xs-center Для оформления зеленой карты вам потребуется:

              .docsRequired__wrapper
                .docsRequired__item
                  i.ico.ico-doc-transport
                  span Свидетельство о регистрации <br> транспортного средства
                .docsRequired__item
                  i.ico.ico-doc-passport
                  span Российский паспорт
                .docsRequired__item
                  i.ico.ico-doc-zagran
                  span Действующий  загранпаспорт

      // Contact
      section.contact
        .container
          .row
            .col-sm-12.text-xs-center
              .heading Оформление <span>за 10 минут</span>
              span.contact__choicer Выберите удобный Вам офис
              .contact__wrapper
                .contact__item
                  i.ico.ico-location
                  span М Павелецкая <br> Ул. Летниковская 11/10 стр. 1, 5-й этаж оф. 29 (здание визового центра Испании)<br> По будням с 8:00 до 16:00 без перерыва
                  a(href='#').btn.btn--yellow Показать на карте
                .contact__item
                  i.ico.ico-location
                  span м. Красные ворота, м. Комсомольская <br> Ул. Каланчевская д. 13 <br> (Здание визового центра Финляндии) <br> По будням с 8:00 до 16:00 без перерыва
                  a(href='#').btn.btn--yellow Показать на карте
                .contact__item
                  i.ico.ico-location
                  span м. Проспект мира <br> Пр-т Мира, д.62, стр.1 <br> (Здание рядом с визовым центром Франции) <br> По будням с 8:00 до 16:00 без перерыва
                  a(href='#').btn.btn--yellow Показать на карте

      .contactMap#map

      include shared/footer.pug
    include shared/modal.pug
