doctype html
html
  include shared/head.pug

  body
    include shared/header.pug

    // HERO::START
    section.hero.hero--inner(style='background-image: url(images/heroInsurance.png)')
      .container
        .row
          .col-sm-11.text-sm-right
            i.ico.ico-best-price

        .row
          .col-sm-12.text-xs-center
            .heading <span>Страхование</span><br> выезжающих за рубеж

    // section brokers
    section.brokers
      .container
        .row
          .col-sm-12.text-xs-center
            .heading Ведущие <span>страховые компании</span>
            .heading__desc Полис гарантированно подходит для подачи в визовые центры
          .brokers__wrapper
            i.ico.ico-alpha
            i.ico.ico-uralsib
            i.ico.ico-reso
            i.ico.ico-absolute
            i.ico.ico-ingos


    include shared/footer.pug
