doctype html
html
  include shared/head.pug

  body
    .content
      include shared/header.pug

      // HERO::START
      section.hero(style='background-image: url(images/mainpageHero.png)')
        .container
          .row
            .col-sm-12.mt50
              a(href='#')
                i.ico.ico-social.ico-fb
              a(href='#')
                i.ico.ico-social.ico-vk
              a(href='#')
                i.ico.ico-social.ico-ok
              a(href='#')
                i.ico.ico-social.ico-insta
          .row
            .col-sm-12.col-md-11.text-xs-center.text-md-right
              i.ico.ico-best-price

          .row
            .col-sm-12.text-xs-center
              .heading <span>Страхование</span> без наценки
                .hero__tooltip
                  i.ico.ico-tooltip-big(data-toggle="tooltip" data-placement="bottom" title="Скидка на заключение договора страхования предоставляется за счет комиссии страхового агентства. Предоставленная скидка  не влияет на качество и количество оказываемых услуг по страховому полису. Полис мгновенно заносится в базу страховой компании")

          .row
            .col-sm-12.text-xs-right
              .hero__messengers
                .hero__messenger
                  i.ico.ico-viber
                  span 8 495 506 51 55
                .hero__messenger
                  i.ico.ico-whatsup
                  span 8 495 506 51 55

      // section navigation
      section.navSections
        .container
          .row
            .navSections__wrapper
              a(href="#").navSections__item
                i.ico.ico-navSection.ico-nav-insurance
                span Страхование <br> туристов >>
              a(href="#").navSections__item
                i.ico.ico-navSection.ico-nav-greencard
                span Зеленая карта >>
              a(href="#").navSections__item
                i.ico.ico-navSection.ico-nav-migrants
                span Страхование <br> мигрантов >>

      // section brokers
      section.brokers
        .container
          .row
            .col-sm-12.text-xs-center
              .heading Ведущие <span>страховые компании</span>
            .brokers__wrapper
              i.ico.ico-alpha
              i.ico.ico-uralsib
              i.ico.ico-reso
              i.ico.ico-absolute
              i.ico.ico-ingos

      // section why us
      section.whyUs
        .container
          .row
            .col-sm-12.text-xs-center
              .heading Почему с нами <span>стоит работать</span>
            .whyUs__wrapper
              .whyUs__item
                i.ico.ico-why-price
                .whyUs__name Гарантия лучшей цены
                .whyUs__desc на рынке страхования
              .whyUs__item
                i.ico.ico-why-docs
                .whyUs__name Официальное<br> оформление
                .whyUs__desc мгновенное занесение<br> полиса в базу страховой<br> компании
              .whyUs__item
                i.ico.ico-why-economy
                .whyUs__name Экономия ваших средств
                .whyUs__desc при выборе страховой<br> компании

      //section questions
      section.questions
        .container
          .row
            .col-sm-12.text-xs-center
              .heading У вас <span> остались вопросы?</span>
            .questions__wrapper
              a(href='#modalCallback').questions__item.modal__trigger
                i.ico.ico-question.ico-question-mail
                span обратная связь
              a(href='#modalZvonok').questions__item.modal__trigger
                i.ico.ico-question.ico-question-phone
                span Заказать звонок
              .questions__split
                span или
              a(href='#modalServiceSelect').questions__item.modal__trigger
                i.ico.ico-question.ico-question-calc
                span рассчитайте полис самостоятельно

      //testimonials
      section.testimonials
        .container
          .row
            .col-sm-12.text-xs-center
              .heading Отзывы <span>наших клиентов</span>
            .col-sm-12.col-lg-8.offset-lg-2
              .owl-carousel#owlTestimonials
                .testimonials__slide
                  .testimonials__image
                    img(src="images/testimonial.png")
                  .testimonials__content
                    .testimonials__name Алексей Семенов
                    .testimonials__review
                      p Стратегический рыночный план допускает баинг и селлинг. Охват аудитории стабилизирует маркетинг. Представляется логичным, что привлечение аудитории не критично. Продвижение проекта достижимо в разумные сроки. Концепция развития порождает культурный портрет потребителя. Жизненный цикл продукции, суммируя приведенные примеры, притягивает из ряда вон выходящий сегмент рынка.
                .testimonials__slide
                  .testimonials__image
                    img(src="images/testimonial.png")
                  .testimonials__content
                    .testimonials__name Алексей Семенов
                    .testimonials__review
                      p Стратегический рыночный план допускает баинг и селлинг. Охват аудитории стабилизирует маркетинг. Представляется логичным, что привлечение аудитории не критично. Продвижение проекта достижимо в разумные сроки. Концепция развития порождает культурный портрет потребителя. Жизненный цикл продукции, суммируя приведенные примеры, притягивает из ряда вон выходящий сегмент рынка.


      include shared/footer.pug

    include shared/modal.pug
