doctype html
html
  include shared/head.pug

  body
    include shared/header.pug

    // HERO::START
    section.hero.hero--inner(style='background-image: url(images/heroMigrant.png)')
      .container
        .row
          .col-sm-11.text-sm-right
            i.ico.ico-best-price

        .row
          .col-sm-12.text-xs-center
            .heading <span>Страхование трудовых мигрантов</span> <br> без наценки
              .hero__tooltip
                i.ico.ico-tooltip-big(data-toggle="tooltip" data-placement="bottom" title="Скидка на заключение договора страхования предоставляется за счет комиссии страхового агентства")


    // section navigation
    section.navSections
      .container
        .row
          .col-sm-12
            .heading.text-xs-center
              span Стоимость
            .heading__desc.text-xs-center Полис гарантированно подоходит для подачи в миграционный центр.

          .navSections__wrapper
            a(href="#").navSections__item
              .ico-navSection.navSections__price 6 месяцев <span>1300 руб.</span>
              span купить >>
            a(href="#").navSections__item
              .ico-navSection.navSections__price 9 месяцев <span>1800 руб.</span>
              span купить >>
            a(href="#").navSections__item
              .ico-navSection.navSections__price 12 месяцев <span>2100 руб.</span>
              span купить >>

          .col-sm-12
            .heading__desc.heading__desc--bigger.text-xs-center Специальные цены для групп. Звоните!



    // Contact
    section.contact
      .container
        .row
          .col-sm-12.text-xs-center
            .heading Оформление <span>за 10 минут</span>
            span.contact__choicer Выберите удобный Вам офис
            .contact__wrapper
              .contact__item
                i.ico.ico-location
                span м. Октябрьская, Калужская пл. д.1, к.2 <br> (Здание визового центра Испании) <br> По будням с 8:00 до 16:00 <br> без перерыва
                a(href='#').btn.btn--yellow Показать на карте
              .contact__item
                i.ico.ico-location
                span м. Октябрьская, Калужская пл. д.1, к.2 <br> (Здание визового центра Испании) <br> По будням с 8:00 до 16:00 <br> без перерыва
                a(href='#').btn.btn--yellow Показать на карте
              .contact__item
                i.ico.ico-location
                span м. Октябрьская, Калужская пл. д.1, к.2 <br> (Здание визового центра Испании) <br> По будням с 8:00 до 16:00 <br> без перерыва
                a(href='#').btn.btn--yellow Показать на карте


      script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU', type='text/javascript')
      script(type='text/javascript').
        ymaps.ready(init);
        var myMap,
        myPlacemark;
        function init(){
        myMap = new ymaps.Map("map", {
        center: [55.76, 37.64],
        zoom: 7
        });
        myPlacemark = new ymaps.Placemark([55.76, 37.64], {
        hintContent: 'Москва!',
        balloonContent: 'Столица России'
        });
        myMap.geoObjects.add(myPlacemark);
        }

    .contactMap#map



    include shared/footer.pug
